.steps{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
}

.steps::after{
    content: "";
    width: 380px;
    border-bottom: 1px solid #fb4;
    position: absolute;
    top: 20px;
}

.step{
    text-align: center;
    background-color: #FFF;
    z-index: 1;
    width: 120px;
    padding: 0.5rem;
}

.step svg{
    font-size: 1.6rem;
    margin-bottom: .2rem;
}

.active{
    font-weight: bold;
}

.active > svg{
    fill: #fb4;
}

body{
background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url("../assets/images.jfif");
height: 100vh;
}